.admin-view-notification {
    display:flex;
    justify-content:end;
    margin-right:2%;
    padding:10px;
}
.notificationsCount {
    position:absolute;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20px,0px);
    height:1em;
    width:1.5em;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.notificationPanel {
    position:absolute;
    transform: translate(10px,30px);
    padding:20px;
    background-color: white;
    border-radius: 20px;

}
.notificationPanel > div {
    padding:20px;
}
.notificationPanel > div > p {
    margin:0;
}
#viewed-button{
    text-decoration: underline;
    color:darkblue;
    cursor: pointer;
}