.student-search-bar {
    font-family: 'KelsonSans';
    width:max-content;
    height: max-content;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(247,130,24,1);
}

.search-bar-container {
text-align: center;
}