.student-card-container {
  display: grid;
  width: 100%;
  height: 100vh;
  overflow: auto;
  border: none;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  align-content:start;
  justify-content: space-around;
}

.student-card-container::-webkit-scrollbar {
  width: 10px;
}

.student-card-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: inset rgba(255, 255, 255, 0.37) 1px;
}

.student-card-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
  border: inset rgba(255, 255, 255, 0.37) 1px;
}

.student-card-container::-webkit-scrollbar-track {
  background-color: #00000000;
  
}

.loading-card {
  color: white;
  height: fit-content;
  width: 150px;
  border: none;
  padding: 5%;
  text-align: center;
  font-family: 'kelsonsans-light';
  border-radius: 10px;
  margin: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color:rgba(61, 61, 61, 0.76);

}