.student-card {
  color: white;
  height: 10em;
  width: 7em;
  padding: 5%;
  text-align: center;
  font-family: "kelsonsans-light";
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
}

.un-satisfactory-card {
  border: 4px solid rgb(207, 45, 45);
  
}

.in-progress-card {
   border: 4px solid rgb(214, 136, 25);
}

.completed-card {
  border: 4px solid rgb(19, 134, 19);
}

.student-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease 0.4s;
}

.student-card-name {
  display: block;
  font-family: "kelsonSans-bold";
  font-size: larger;
  margin: 5%;
  border: none;
  border-radius: 10px;
  padding: 3%;
  white-space: nowrap;
}

.student-card-cohort {
  display: block;
  font-size: 100%;
  margin: 5%;
  border: none;
  border-radius: 10px;
  padding: 3%;
  white-space: nowrap;
}

.student-card-manager {
  display: block;
  font-size: 100%;
  margin: 5%;
  border: none;
  border-radius: 10px;
  padding: 3%;
  white-space: nowrap;
}

.modal-off {
  display: none;
}

.modal-on {
  display: flex;
}
